.container {
  display: flex;
  justify-content: space-around;
}
.div1 {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 250px;
  width: 650px;
}
.div2 {
  margin-right: 200px;
}
.container__text1 {
  width: 500px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
}

.container__text2 {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #202336;
  margin-top: 30px;
}
.container__text2::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: #202336;
  border-radius: 4px;
  margin-top: 10px;
}
.container__button {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 15px 50px;
  align-items: center;
  color: #ffffff;
  box-sizing: border-box;
  background: #fb8f1d;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
}
.container__select {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
select {
  margin: 10px;
  width: 200px;
  height: 52px;
  box-sizing: border-box;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  align-items: center;
  color: #4a4c53;
}
