.container5 {
  margin-top: 200px;
}
.div1__5 {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  margin-left: 250px;
}
.div2__5 {
  display: flex;
  width: 1000px;
  margin: 10px;
  margin-left: 125px;
  margin-top: 40px;
}
.div2__5 img {
  width: 270px;
  border-radius: 10px 10px 0 0;
}
.div2__5 h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  width: 250px;
  margin-left: 10px;
}
.div2__5 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #7d7987;
}
.div2__5 h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #fb8f1d;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.container5__text1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}
.container5__text2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  color: #fb8f1d;
  display: flex;
  justify-content: space-around;
}
.container5__foto3 h4,
.container5__foto4 h4 {
  width: 280px;
}
.div1__5element {
  margin-left: 1005px;
  margin-top: 70px;
}
.div1__5element1 {
  margin-left: 700px;
}
.div1__5element2 {
  margin-right: 80px;
  margin-top: 170px;
}