.container3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.div1__3 {
  max-width: 480px;
  margin-left: 100px;
  margin-top: -70px;
}
.div2__3 {
  margin-left: -230px;
}
.container3__text1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  max-width: 400px;
  /* margin-top: 30px; */
}
.container3__text2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  margin-left: -10px;
  max-width: 470px;
}
.container3__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  color: #ffffff;
  box-sizing: border-box;
  background: #fb8f1d;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  margin-left: -3px;
  margin-top: 20px;
}
.div1__3element {
  margin-left: 50px;
}
.div1__3element1 {
  margin-left: 430px;
  margin-top: -100px;
}
