footer {
  display: flex;
  flex-direction: column;
  background: #f9f9fb;
  margin-top: 120px;
}
.footer1 {
  display: flex;
  justify-content: space-around;
}
.footer__destinations p,
.footer__shop p,
.footer__interests p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
  margin-left: -1px;
}
footer div {
  margin-top: 30px;
}
.footer__logo p {
  max-width: 370px;
  margin-left: 15px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
}
.footer__destinations h3,
.footer__shop h3,
.footer__interests h3 {
  display: flex;
  flex-direction: row;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 60px;
  color: #000000;
}
.footer__polosa {
  position: relative;
}
.footer__polosa::before {
  content: "";
  position: absolute;
  width: 1219px;
  height: 0.6px;
  background: #c4c4c4;
  margin-top: -50px;
  margin-left: -480px;
}
.footer__socseti {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.footer__socseti img {
  margin-top: -20px;
}
.footer__logo1 {
  margin: 70px;
}
